// =============================>
//  Imoporting Google Fonts
// <============================
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');


// =============================>
// Base Color Schema For The Theme
// <============================
$wdpk-primary-color: #64AF5D !default;

// Navigation
$wdpk-menu-height: 70px !default;
$wdpk-menu-logo-width: 250px !default;
$wdpk-hover-effect: (
							hoverType: 2,
							paddingBottom: 8px,
							hoverThickness: 2px,
							hoverColorType: color,
							animationType: bottomToTop,
							animationDistance: 10px,
							animationDuration: 0.3s,
							animationDelay: 0s,
							col1: $wdpk-primary-color,
							col2: $wdpk-primary-color
					) !default;
$wdpk-transparent-menu-font-color-hover: $wdpk-primary-color !default;

// Font Variables
$wdpk-font-size-base: 1rem !default;
$wdpk-headings-font-family: 'Montserrat', sans-serif;
$wdpk-headings-font-weight: 600 !default;


// Menu variables
$wdpk-primary-menu-border-map: (
									   borderTop: false,
									   borderTopColor: #000000,
									   borderTopWidth: 0px,
									   borderTopStyle: solid,
									   borderRight: false,
									   borderRightColor: #dddddd,
									   borderRightWidth: 0px,
									   borderRightStyle: solid,
									   borderBottom: false,
									   borderBottomColor: #000000,
									   borderBottomWidth: 0px,
									   borderBottomStyle: solid,
									   borderLeft: false,
									   borderLeftColor: #dddddd,
									   borderLeftWidth: 0px,
									   borderLeftStyle: solid
							   ) !default;

$wdpk-menu-align-items: center;
$wdpk-bottom-bar-enabled: true;
$wdpk-menu-logo-align: center;
$wdpk-bottom-height: 60px !default;

// Page Title
$wdpk-page-title-top-space: 18rem !default;
$wdpk-page-title-bottom-space: 10rem !default;

$wdpk-page-title-head-font-size: 3.5rem !default;
$wdpk-page-title-head-line-height: 4rem !default;
$wdpk-page-title-head-color: #ffffff !default;
$wdpk-page-title-head-margin-bottom: 1rem !default;

$wdpk-page-title-separator-icon-color: #ffffff !default;
$wdpk-page-title-separator-margin-bottom: 1.2rem !default;
$wdpk-page-title-separator-height: 4px !default;

$wdpk-page-title-desc-font-size: 1.2rem !default;
$wdpk-page-title-desc-font-family: 'PT Sans', sans-serif;
$wdpk-page-title-desc-line-height: 1.4 !default;
$wdpk-page-title-desc-color: #eeeeee !default;
$wdpk-page-title-desc-margin-bottom: 1rem !default;


$wdpk-page-title-spearator-bg-map: (
										   backgroundType: color,
										   gradientType: linear,
										   color1: $wdpk-primary-color,
										   color2: $wdpk-primary-color,
										   degree: 0deg,
										   backgroundImage: url(../../assets/images/background-black.jpg),
										   backgroundRepeat: repeat-x,
										   backgroundHorPos: center,
										   backgroundVerPos: center,
										   backgroundSize: initial
								   ) ;

$wdpk-page-title-overlay-color: rgba(0, 0, 0, .75) !default;

$wdpk-page-title-bg-map: (
								 backgroundType: color,
								 gradientType: linear,
								 color1: $wdpk-primary-color,
								 color2: #ffffff,
								 degree: 0deg,
								 backgroundImage: url(../../assets/images/page-title.jpg),
								 backgroundRepeat: none,
								 backgroundHorPos: top,
								 backgroundVerPos: center,
								 backgroundSize: cover
						 ) !default;



// Animations
$wdpk-animations-map: (
							  duration: 2s,
							  count: 1000,
							  delay: 3s,
							  function: ease,
							  fill: both
					  ) !default;


// Heading
$wdpk-heading-head-color: var(--secondary) !default;
$wdpk-heading-head-margin-bottom: .5rem !default;

$wdpk-heading-separator-margin-bottom: .8rem !default;
$wdpk-heading-separator-height: 2px !default;
$wdpk-heading-separator-width: 15% !default;

$wdpk-heading-separator-icon-color: $wdpk-primary-color !default;

$wdpk-heading-desc-font-size: .9rem !default;
$wdpk-heading-desc-line-height: 1.4 !default;
$wdpk-heading-desc-margin-bottom: 1rem !default;


$wdpk-heading-spearator-bg-map: (
										backgroundType: color,
										gradientType: linear,
										color1: $wdpk-primary-color,
										color2: $wdpk-primary-color,
										degree: 0deg,
										backgroundImage: url(../../assets/images/background-black.jpg),
										backgroundRepeat: repeat-x,
										backgroundHorPos: center,
										backgroundVerPos: center,
										backgroundSize: initial
								) !default;


// Social Sharing
$wdpk-social-sharing-theme: 'flat' !default;
$wdpk-social-sharing-border-radius: 40px !default;
$wdpk-social-sharing-horizontal-padding: .8rem !default;
$wdpk-social-sharing-vertical-padding: .8rem !default;
$wdpk-social-sharing-font-size: 1.2rem !default;
$wdpk-social-sharing-line-height: 1.2rem !default;


// Image Hovers
$wdpk-image-hover-image-bg: rgba(100, 175, 93, 0.9) !default;
$wdpk-image-hover-figcaption-bg: rgba(100, 175, 93, 0.7) !default;
$wdpk-image-hover-figcaption-padding: 25px !default;
$wdpk-image-hover-text-color: #ffffff !default;

// Counters


$wdpk-counter-font-color: #ffffff !default;
$wdpk-counter-icon-font-color: #ffffff !default;
$wdpk-counter-icon-font-hover-color: $wdpk-primary-color !default;
$wdpk-counter-icon-border-color:transparent !default;
$wdpk-counter-icon-border-hover-color: transparent !default;
$wdpk-counter-icon-background-color: transparent !default;
$wdpk-counter-icon-background-hover-color: transparent !default;
$wdpk-counter-icon-font-hover-animation: 'zoomIn' !default;
$wdpk-counter-footnote-font-color: #B2BBC3 !default;

$wdpk-counter-background-map: (
									  backgroundType: color,
									  gradientType: linear,
									  color1: transparent,
									  color2: transparent,
									  degree: 0deg,
									  backgroundImage: url(../../assets/images/background-black.jpg),
									  backgroundRepeat: repeat-x,
									  backgroundHorPos: center,
									  backgroundVerPos: center,
									  backgroundSize: initial
							  ) !default;

// Blog Listing
$wdpk-blog-list-col-count: 2 !default;
$wdpk-blog-list-cat-badge-bg-color: $wdpk-primary-color !default;
$wdpk-blog-list-title-font-family: 'Montserrat', sans-serif !default;
$wdpk-blog-list-title-font-weight: 600 !default;
$wdpk-blog-list-btn-type: 'outline' !default;

// Mobile Header
$wdpk-mobile-header-background: (
										backgroundType: color,
										gradientType: linear,
										color1: $wdpk-primary-color,
										color2: rgba(0, 0, 0, 0.7),
										degree: 90deg,
										backgroundImage: url(../../assets/images/grey.png),
										backgroundRepeat: repeat-x,
										backgroundHorPos: center,
										backgroundVerPos: center,
										backgroundSize: initial
								) !default;

// Off Canvas Menu
$wdpk-off-canvas-section-margin:                3.25rem !default;

// =============================>
//  Dark Theme Override
//  If you you need to use the dark theme just uncomment the below line
// <============================
//@import "../../../sass/variables/variables-wdpk-dark";


// =============================>
// Import the main Scss file to import everything
// ==============================
@import "../../../sass/woodpecker.scss";
